/*
  ==============================================
               ****** RESET *****
  ==============================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
    ==============================================
                ****** Global *****
    ==============================================
*/

body {
  font-size: 30px;
}
